.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin-bottom: 8rem;
}

@media (min-width: 768px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        margin-bottom: 8rem;
    }
}

