.imageTest {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instructions {
    border: 1px solid black;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.buttonTest {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.textStartTest {
    font-size: 1rem;
    height: .5rem;
}

@media (min-width: 768px) {
    .testPageContainer {
        display: flex;
        justify-content: space-around;
        margin-left: 20rem;
        margin-right: 20rem;
        margin-top: 5rem;
    }
    .instructions {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonTest {
        margin-top: 5rem;
    }
}